<div class="position-relative p-5" style="background-color: #f5f5f5">
    <div class="row">
        <div class="container py-4 px-lg-5 px-sm-0">
            <div class="heading_setting">
                <h3 class="fs=25 fw-bold text-dark">Setting</h3>
            </div>
            <div class="admin_Setting p-lg-5 p-sm-0 my-4">
                <div class="container">
                    <div class="row dblock justify-content-between px-4">
                        <div class="input_Setting d-flex align-items-end">
                            <h3 class="fs-20 fw-bold text-dark">Show Notification</h3>
                        
                        </div>
                        <div class="checb_toggle">
                            <label class="switch">
                                <input type="checkbox" id="togBtn">
                                <div class="slider"></div>
                              </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row dblock justify-content-between px-4">
                        <div class="input_Setting d-flex align-items-end">
                            <h3 class="fs-20 fw-bold text-dark">Show Review</h3>
                        
                        </div>
                        <div class="checb_toggle">
                            <label class="switch">
                                <input type="checkbox" id="togBtn">
                                <div class="slider"></div>
                              </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row dblock justify-content-between px-4">
                        <div class="input_Setting d-flex align-items-end">
                            <h3 class="fs-20 fw-bold text-dark">Show Retake</h3>
                        
                        </div>
                        <div class="checb_toggle">
                            <label class="switch">
                                <input type="checkbox" id="togBtn">
                                <div class="slider"></div>
                              </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row dblock justify-content-between px-4">
                        <div class="input_Setting d-flex align-items-end">
                            <h3 class="fs-20 fw-bold text-dark">Online Status</h3>
                        
                        </div>
                        <div class="checb_toggle">
                            <label class="switch">
                                <input type="checkbox" id="togBtn">
                                <div class="slider"></div>
                              </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row px-4">
                        <div class="">
                            <h3 class="fs-20 fw-bold text-dark">Settings</h3>
                            <p class="fs-15 text-dark">I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                  printer took a galley of type and scrambled it to make a type specimen book</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row mx-0 my-4 d-flex justify-content-end">
                <div class="btn_col1">
                    <a href="#">Save</a>
                </div>
           </div>
        </div>
    </div>
</div>
