<div class="position-relative p-5" style="background-color: #f5f5f5;">
    <div class="container">
    <section class="banner_section">
        <div class="container">
            <h1 style="color:#8b003a;text-align: center;">Paper Survey ! :)</h1>
            <div class="row">
             <div class="col-lg-12">
                 <div class="form_banner">
                 <form [formGroup]="form">
                     <div class="inpfiled">
                         <h3 class="fs-20 text-dark fontweight">1) Have you experienced any technical issues?</h3>
                     </div>
                    <div class="inputfeild_9_radio_00">
                        <input type="radio" id="html" name="fav_language" value="HTML" class="m-1"  (change)="isTechnicalIs(true)">
                        <label for="html" class="m-1">Yes</label>

                       <input type="radio" id="html" name="fav_language" class="m-1" value="HTML" (change)="isTechnicalIs(false)">
                       <label class="fs-15 color1 fw-semiBold" for="html" class="m-1">No</label>
                    </div>
                   <div class="inpfiled">
                    <label class="fs-20 text-dark fontweight">2) If You have experienced technical issues, please describe here:</label><br>
                    <textarea type="text" placeholder="Please describe here" formControlName="techincalIssueDescription"></textarea>
                </div>
                <div class="inpfiled pb-0">
                    <label class="fs-20 text-dark fontweight">3) How Would you rate this as a learning tool</label>
                    </div>
                 
                    <div class="rate" (change)="selectRate($event)">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                      </div>
                <div class="inpfiled"></div>
                <div class="inpfiled">
                    <h3 class="fs-20 text-dark fontweight">4) Would you recommend this as a useful learning tool for other trainers?</h3>
                </div>
               <div class="inputfeild_9_radio_00">
                   <input type="radio" id="html" name="fav_language" class="m-1" value="HTML" (change)="isUseFull(true)">
                   <label for="html" class="m-1">Yes</label>

                  <input type="radio" id="html" name="fav_language" class="m-1" value="HTML">
                  <label class="fs-15 color1 fw-semiBold" for="html" class="m-1" (change)="isUseFull(false)">No</label>
               </div>
               <div class="inpfiled">
                <label class="fs-20 text-dark fontweight">5) Please Leave any comments or feedback here:</label><br>
                <textarea type="text" placeholder="Enter your feedback here" formControlName="comment"></textarea>
            </div>
                 </form>
                 </div>
             </div>
            </div>
        </div>
    </section>
    <div class="row btn_marg my-4 d-flex justify-content-end">
        <div class="btn_col1">
            <a (click)="submit()" routerLinkActive="active">Submit</a>
        </div>
   </div>
</div>
</div>
