<div class="position-relative py-5" style="background-color: #f5f5f5">
  <div class="row">
    <div class="container">
      <div class="row justify-content-between px-3 pb-2">
        <div class="heading">
          <h3 class="fs-30 text-dark fw-bold">WorkList User</h3>
        </div>
      </div>
      <div class="table table-responsive">
        <table
          class="table table-border"
          style="background-color: transparent !important"
        >
          <thead>
            <tr>
              <th class="fs-15 text-center">Case Number</th>
              <th class="fs-15 text-center">Case Title</th>
              <th class="fs-15 text-center">Note</th>
              <th class="fs-15 text-center">Date</th>
              <th class="fs-15 text-center">Action</th>
              <th class="fs-15 text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white" *ngFor="let item of allCases; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-center">{{ item.paperName }}</td>
              <td class="text-center">{{ item.comments }}</td>
              <td class="text-center">{{ item.creationDate | date }}</td>
              <td class="text-center">
                <ul class="d-flex justify-content-center">
                  <div class="tooltips">
                    <li>
                      <a
                        href=""
                        class="text-dark"
                        routerLink="/StudentSite/ReviewReport"
                        routerLinkActive="active"
                        ><i class="fa fa-search"></i
                      ></a>
                    </li>
                    <span class="tooltiptext">Review</span>
                  </div>
                  <li>
                    <div class="tooltips">
                      <!-- <a
                        href=""
                        routerLink="/StudentSite/ReadReport"
                        routerLinkActive="active"
                        ><img src="assets/img/reload.png"
                      /></a> -->
                      <li>
                        <a (click)="changeStatus(item)"
                          ><img src="assets/img/reload.png"
                        /></a>
                      </li>
                      <span class="tooltiptext">Retake</span>
                    </div>
                  </li>
                </ul>
              </td>

              <td class="text-center">
                <div
                  [ngClass]="{
                    Unread: item.Status == 'Unread',
                    Read: item.Status == 'Read',
                    Submitted: item.Status == 'Submitted'
                  }"
                ></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <section class="pagination my-2">
        <div class="row">
          <div class="col-md-12 text-center pagination-shop">
            <ul class="pagination pagination-lg pagination-md pagination-sm">
              <li class="page-item pevious">
                <a class="page-link" href="#">< Previous</a>
              </li>
              <li class="page-item mid"><a class="page-link" href="#">1</a></li>
              <li class="page-item mid"><a class="page-link" href="#">2</a></li>
              <li class="page-item mid"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link border-0 bg-transparent text-dark" href="#"
                  >...</a
                >
              </li>
              <li class="page-item mid smid">
                <a class="page-link" href="#">82</a>
              </li>
              <li class="page-item next">
                <a class="page-link" href="#">Next ></a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
