*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

/.vs/VSWorkspaceState.json
/Backend/LoyallaApi/.vs/LoyallaApi/FileContentIndex
/Backend/LoyallaApi/.vs/ProjectEvaluation
/Backend/LoyallaApi/LoyallaApi/bin/Debug/net5.0
/Backend/LoyallaApi/LoyallaApi/obj/Debug/net5.0
/Backend/LoyallaApi/LoyallaApi/obj/Debug/net5.0-windows
