<div class="position-relative py-5" style="background-color: #f5f5f5;">
    <section class="banner_sction_title">
        <div class="heading d-flex my-3">
            <h3 class="fs-30 text-dark fw-bold">Comment Feedback</h3>
            <p class="fs-15 text-dark fw-bold mb-0">(Optional)</p>
        </div>
    </section>
    <section class="banner_Sectio1 p-4">
      <div class="container">
          <div class="suggestion_class">
              <p class="mb-0">Found an error? Have a suggestion?</p>
              <p>Fill out the form below and </p>
          </div>
      </div>
    </section>
    <section class="banner_section">
        <div class="container">
            <div class="row">   
             <div class="col-lg-12">
                 <div class="form_banner">
                 <form>
                   <div class="inpfiled">
                    <textarea type="text" placeholder="Enter your feedback here" (change)="getFeedbackDescription($event)"></textarea>
                </div>
             </form>
                 </div>
             </div>
            </div>
        </div>
    </section>
    <div class="row btn_marg my-4 d-lg-flex d-md-flex justify-content-end">
        
        <div class="col-md-1">
            <a class="btn text-white" style="background-color: black;"  (click)="skip()">SKIP</a>
        </div>
        <div class="col-md-2 ">
            <a class="btn text-white" style="background-color: #8b003a;" (click)="submit()">SEND FEEDBACK</a>
        </div>
        <div class="col-md-2">
            <a class="btn text-white" style="background-color: grey;"  (click)="useWorkList()">Go To Work List</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-warning text-white" (click)="newCase()">Go To Next Case</a>
        </div>

       
    
      
   </div>
</div>
