<div class="position-relative p-lg-5 p-md-3 p-sm-1" style="background-color: #f5f5f5">
    <div class="row">
        <div class="container py-4 px-lg-5">
            <div class="row px-3 pb-2">
            <div class="heading col-md-6">
                <h3 class="fs-25 text-dark fw-bold"> Survey List</h3>
            </div>
            <div class="btn_black col-md-6 text-right">
                <!-- <a href="" routerLink="/Setting"><img src="assets/img/exports.png"> &nbsp; EXPORT</a> -->
              </div>
            </div>
            <div class="table table-responsive">
                <table class="table bg-transparent">
                    <thead>
                    <tr>
                        <th class="fs-15">Technical Issue Description</th>
                        <th class="fs-15">Is Techincal Issue</th>
                        <th class="fs-15">Comments against Tool</th>
                        <th class="fs-15">Is Full Learning Tool</th>
                        <th class="fs-15">Rate</th>
                        <th class="fs-15">Creation Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white" *ngFor="let i of surveyDetail">
                            <td>{{i.techincalIssueDescription}}</td>
                            <td style="width: 30%;">{{(i.isTechnicalIssue==true?'Yes':'No')}}</td>
                            <td>{{i.comment}}</td>
                            <td>{{(i.isUseFullLearningTool==true ? 'Yes' : 'No')}}</td>
                             <td>{{i.rate}}</td>
                            <td>{{i.creationDateTime | date}}</td>
                        </tr>
                        <tr *ngIf="surveyDetail.length==0">
                            <p>No Record Found</p>
                        </tr>
                    </tbody>
                </table>
            </div>
            <section class="pagination my-5">
                <div class="row">
                    <div class="col-md-12 text-center pagination-shop">
                    <ul class="pagination pagination-lg pagination-md pagination-sm">
                    <li class="page-item pevious"><a class="page-link" href="#">< Previous</a></li>
                    <li class="page-item mid"><a class="page-link" href="#">1</a></li>
                    <li class="page-item mid"><a class="page-link " href="#">2</a></li>
                    <li class="page-item mid"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link border-0 bg-transparent text-dark" href="#">...</a></li>
                    <li class="page-item mid smid"><a class="page-link" href="#">82</a></li>
                    <li class="page-item next"><a class="page-link" href="#">Next ></a></li>
                    </ul>
                    </div>
                </div>
               </section>
        </div>
    </div>
    </div>
