<div class="position-relative py-5" style="background-color: #f5f5f5;">
    <div class="container">
    <section class="banner_section">
        <div class="container">
            <div class="row">
             <div class="col-lg-6">
                 <div class="form_banner">
                 <form>
                   <div class="inpfiled">
                       <label>Username</label>
                       <input type="text" placeholder="Enter Your Name" class="form-control">
                   </div>
                   <div class="inpfiled">
                    <label>Email</label>
                    <input type="email" placeholder="Enter Your Email" class="form-control">
                </div>
                <div class="inpfiled">
                    <label>Location</label>
                    <select class="form-control">
                        <option>Select Country</option>
                        <option>Australia</option>
                        <option>Germany</option>
                        <option>France</option>
                        <option>Canada</option>
                    </select>
                </div>
                <div class="inpfiled">
                    <label>Current Status</label>
                    <select class="form-control" #select (change)="changevalue(select.value)">
                        <option>Undergraduate student</option>
                        <option>Medical student</option>
                        <option>Resident</option>
                        <option>Fellow</option>
                        <option>Attending</option>
                        <option value="otheroption">Other</option>
                    </select>
                </div>
                <div class="inputfiled" id="isshown" *ngIf="ishown">
                    <label>Other</label>
                    <input type="text" placeholder="Please Specify" class="form-control">
                </div>
                <div class="inpfiled">
                    <label>Current Year Of Medical Traning</label>
                    <select class="form-control" #selects (change)="changeValue(selects.value)">
                        <option>PGY-1</option>
                        <option>PGY-2</option>
                        <option>PGY-3</option>
                        <option>PGY-4</option>
                        <option>PGY-5</option>
                        <option>PGY-6</option>
                        <option>PGY-7</option>
                        <option value="otherpgy">Other</option>
                    </select>
                </div>
                <div class="inputfiled" id="isshown" *ngIf="isshown">
                    <label>Other</label>
                    <input type="text" placeholder="Please Specify" class="form-control">
                </div>
                 </form>
                 </div>
             </div>
             <div class="col-lg-6">
                <div class="form_banner">
                <form>
                  <div class="inpfiled">
                      <label>Password</label>
                      <input type="password" placeholder="Enter Your Password" class="form-control">
                  </div>
                  <div class="inpfiled">
                   <label>User Age</label>
                   <input type="email" placeholder="Enter Age" class="form-control">
               </div>
               <div class="inpfiled">
                   <label>Select Your Field</label>
                   <select class="form-control" #MySelect (change)="changevalues(MySelect.value)">
                       <option>Radiology</option>
                       <option>Orthopedics</option>
                       <option>Physical Medicine and Rehabilitation</option>
                       <option>Internal Medicine</option>
                       <option>Family Medicine</option>
                       <option>Emergency Medicine</option>
                       <option>Anesthesiology</option>
                       <option>Podiatry</option>
                       <option value="selectfield">Other</option>
                       
                   </select>
               </div>
               <div class="inputfiled" id="isshown" *ngIf="isshowns">
                <label>Other</label>
                <input type="text" placeholder="Please Specify" class="form-control">
            </div>
               <div class="inpfiled">
                   <label>Current Year Of Medical School</label>
                   <select class="form-control">
                       <option>MS-1</option>
                   </select>
               </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </section>
    <div class="row btn_marg my-4 d-flex justify-content-end">
        <div class="btn_col1">
            <a href="#" routerLink="UserWOrkList" routerLinkActive="active">SIGNUP NOW</a>
        </div>
   </div>
   </div>
</div>
