<div class="row">
  <div class="container py-2">
    <div class="d-flex align-items-center">
    <div class="col-lg-7">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="assets/img/loyal_university.png"></a>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="navbar-content float-right d-flex align-items-center">
        <img src="assets/img/user_image.png" class="rounded-circle imges">
        <div class="admin-role text-right pl-2">
        <p class="fs-13 fw-bold text-dark pt-2 mb-0">John Smith</p>
        <p class="slectopt">Admin Role</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
