<div class="position-relative py-5" style="background-color: #f5f5f5">
    <div class="row">
        <div class="container">
            <div class="row px-3 pb-2">
            <div class="heading">
                <h3 class="fs-30 text-dark fw-bold">WorkList Admin</h3>
            </div>
            
            </div>
            <div class="table table-responsive">
                <table class="table table-border" style="background-color: transparent !important;">
                    <thead>
                        <tr>
                            <th class="fs-15 text-center">S.No</th>
                            <th class="fs-15 text-center">Case Title</th>
                            <th class="fs-15 text-center">Comments</th>
                            <th class="fs-15 text-center">Date</th>
                            <th class="fs-15 text-center">Answer sheet</th>
                            <th class="fs-15 text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white">
                            <td class="text-center">1</td>
                            <td class="text-center">Knee MRI Case 1</td>
                            <td style="width: 30%;">Lorem Ipsum has been the industry's standard dummy text ever..</td>
                            <td class="text-center">2/9/2022</td>
                            <td class="text-center">
                                <ul class="d-flex justify-content-center">
                                    <li><a href="" routerLink="/Explanation"><img src="assets/img/answer1.png" class="imgtop"></a></li>
                                    <li><a href="" routerLink="/AdminGradedReport"><img src="assets/img/edit.png" class="imgtop"></a></li>
                                    <li><img src="assets/img/delete.png" class="imagedelete"></li>
                                </ul>
                            </td>
                            <td class="text-center">
                                <div class="checkedbox">
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-white">
                            <td class="text-center">2</td>
                            <td class="text-center">Knee MRI Case 1</td>
                            <td>Lorem Ipsum has been the industry's standard dummy text ever..</td>
                            <td class="text-center">2/9/2022</td>
                            <td class="text-center">
                                <ul class="d-flex justify-content-center">
                                    <li><a href="" routerLink="/Explanation"><img src="assets/img/answer1.png" class="imgtop"></a></li>
                                    <li><a href="" routerLink="/AdminGradedReport"><img src="assets/img/edit.png" class="imgtop"></a></li>
                                    <li><img src="assets/img/delete.png" class="imagedelete"></li>
                                </ul>
                            </td>
                            <td class="text-center">
                                <div class="checkedbox">
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-white">
                            <td class="text-center">3</td>
                            <td class="text-center">Knee MRI Case 1</td>
                            <td>Lorem Ipsum has been the industry's standard dummy text ever..</td>
                            <td class="text-center">2/9/2022</td>
                            <td class="text-center">
                                <ul class="d-flex justify-content-center">
                                    <li><img src="assets/img/answer1.png" class="imgtop"></li>
                                    <li><img src="assets/img/edit.png" class="imgtop"></li>
                                    <li><img src="assets/img/delete.png" class="imagedelete"></li>
                                </ul>
                            </td>
                            <td class="text-center">
                                <div class="checkedboxed">
                                </div>
                            </td>
                        </tr>
                        <tr class="bg-white">
                            <td class="text-center">4</td>
                            <td class="text-center">Knee MRI Case 1</td>
                            <td>Lorem Ipsum has been the industry's standard dummy text ever..</td>
                            <td class="text-center">2/9/2022</td>
                            <td class="text-center">
                                <ul class="d-flex justify-content-center">
                                    <li><img src="assets/img/answer1.png" class="imgtop"></li>
                                    <li><img src="assets/img/edit.png" class="imgtop"></li>
                                    <li><img src="assets/img/delete.png" class="imagedelete"></li>
                                </ul>
                            </td>
                            <td class="text-center">
                                <div class="checkedboxed">
                                </div>
                            </td>                       
                         </tr>
                        <tr class="bg-white">
                            <td class="text-center">5</td>
                            <td class="text-center">Knee MRI Case 1</td>
                            <td>Lorem Ipsum has been the industry's standard dummy text ever..</td>
                            <td class="text-center">2/9/2022</td>
                            <td class="text-center">
                                <ul class="d-flex justify-content-center">
                                    <li><img src="assets/img/answer1.png" class="imgtop"></li>
                                    <li><img src="assets/img/edit.png" class="imgtop"></li>
                                    <li><img src="assets/img/delete.png" class="imagedelete"></li>
                                </ul>
                            </td>
                            <td class="text-center">
                                <div class="checkedbox">
                                </div>
                            </td>                       
                        </tr>
                        <tr class="bg-white">
                            <td class="text-center">6</td>
                            <td class="text-center">Knee MRI Case 1</td>
                            <td>Lorem Ipsum has been the industry's standard dummy text ever..</td>
                            <td class="text-center">2/9/2022</td>
                            <td class="text-center">
                                <ul class="d-flex justify-content-center">
                                    <li><img src="assets/img/answer1.png" class="imgtop"></li>
                                    <li><img src="assets/img/edit.png" class="imgtop"></li>
                                    <li><img src="assets/img/delete.png" class="imagedelete"></li>
                                </ul>
                            </td>
                            <td class="text-center">
                                <div class="checkedbox">
                                </div>
                            </td>                        
                        </tr>
                        <tr class="bg-white">
                            <td class="text-center">7</td>
                            <td class="text-center">Knee MRI Case 1</td>
                            <td>Lorem Ipsum has been the industry's standard dummy text ever..</td>
                            <td class="text-center">2/9/2022</td>
                            <td class="text-center">
                                <ul class="d-flex justify-content-center">
                                    <li><img src="assets/img/answer1.png" class="imgtop"></li>
                                    <li><img src="assets/img/edit.png" class="imgtop"></li>
                                    <li><img src="assets/img/delete.png" class="imagedelete"></li>
                                </ul>
                            </td>
                            <td class="text-center">
                                <div class="checkedboxed">
                                </div>
                            </td>                           
                        </tr>
                        <tr class="bg-white">
                            <td class="text-center">8</td>
                            <td class="text-center">Knee MRI Case 1</td>
                            <td>Lorem Ipsum has been the industry's standard dummy text ever..</td>
                            <td class="text-center">2/9/2022</td>
                            <td class="text-center"><ul class="d-flex justify-content-center">
                                <li><img src="assets/img/answer1.png" class="imgtop"></li>
                                <li><img src="assets/img/edit.png" class="imgtop"></li>
                                <li><img src="assets/img/delete.png" class="imagedelete"></li>
                            </ul></td>
                            <td class="text-center">
                                <div class="checkedbox">
                                </div>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <section class="pagination my-5">
                <div class="row">
                    <div class="col-md-12 text-center pagination-shop">
                    <ul class="pagination pagination-lg pagination-md pagination-sm">
                    <li class="page-item pevious"><a class="page-link" href="#">< Previous</a></li>
                    <li class="page-item mid"><a class="page-link" href="#">1</a></li>
                    <li class="page-item mid"><a class="page-link " href="#">2</a></li>
                    <li class="page-item mid"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link border-0 bg-transparent text-dark" href="#">...</a></li>
                    <li class="page-item mid smid"><a class="page-link" href="#" style="padding-left: 0.75rem !important;">82</a></li>
                    <li class="page-item next"><a class="page-link" href="#">Next ></a></li>
                    </ul>
                    </div>
                </div>
               </section>
            </div>
          
        </div>
    </div>


