<div class="position-relative" style="background-color: #f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 px-0">
                <div class="container">
                    <div class="bg-white p-3 my-3">
                        <div class="row d-flex flex-wrap p-2">
                            <div class="w-25 p-2">
                                <img src="assets/img/image_1.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_2.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_3.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_4.jpg" class="rounded">
                            </div>
                        </div>
                        <div class="row d-flex flex-wrap p-2">
                            <div class="w-25 p-2">
                                <img src="assets/img/image_5.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_6.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_7.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_10.jpg" class="rounded">
                            </div>
                        </div>
                        <div class="row d-flex flex-wrap p-2">
                            <div class="w-25 p-2">
                                <img src="assets/img/image_4.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_3.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_9.jpg" class="rounded">
                            </div>
                            <div class="w-25 p-2">
                                <img src="assets/img/image_10.jpg" class="rounded">
                            </div>
                        </div>
                        <div class="description py-3">
                            <textarea placeholder="Description" class="p-3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Questions -->
            <div class="col-lg-4 px-1">
                <div class="container m-3 px-0">
                    <div class="bg-white px-3 py-5" style="height: 93vh; overflow-y: scroll;">
                        <div>
                            <div class="heading_titile pb-3">
                                <h3 class="fs-25 text-dark">{{questionsList?.paperName}}</h3>
                            </div>
                            <form [formGroup]="form">
                                <fieldset *ngFor="let q of questionsList.questions;let i = index">
                                    <div class="fluid_title">
                                        <h4 class="fs-16 text-dark text-uppercase">{{q?.topic}}</h4>
                                    </div>
                                    <div class="d-flex">
                                        <h1 class="fs-14 text-dark text-uppercase">Q:{{i+1}}</h1>
                                        <h5 class="pl-3 pb-3 fs-14 text-dark">{{q?.questionName}}</h5>
                                    </div>
                                    <div *ngFor="let option of q.options; let j = index">
                                        <label for="{{option.questionId}}"></label>
                                        <input id="{{option.questionId}}" type="radio"
                                            
                                            (click)="selectedOption(option, q.options)"
                                            formControlName="{{option.questionId}}" value="{{option.id}}">
                                            {{option.optionName}}
                                            <br>
                                            <label class="correctanswer">{{option.isAnwsers === 1 && isHidden === true ? 'Correct Answer' : ''}}</label>

                                    </div>
                                    
                                    <div *ngIf="isHidden" class="description py-3">
                                        <textarea placeholder="Type description here..." class="p-3">{{q.description}}</textarea>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="float-right py-3">
                        <div class="btnpnk mx-2">
                            <a (click)="submit()" *ngIf="reviewId==0">SAVE</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- </div>
</div> -->