
.slectopt{
  font-size: 0.7rem;
  color: #bbb;
  font-weight: 500;
}
.admin-role p{
  line-height: 1.4;

}
.collapse.show {
box-shadow: 0px 1px 21px -4px #727272;
margin-top: 20px;
z-index: 1;
background-color: white;
padding: 20px;
}


/* .navbar-content.d-flex.align-items-center.nav01 {
width: 100% !important;
align-items: center !important;
justify-content: start !important;
/* margin-right: 10px; */
/* margin-left: 15px !important; */
/* } */

.navBarAllign{
width: 70%;
}
.imges{
width: 72%;
  height: 43px;
}
.navUI{
margin-right: 15px !important;
}
.navbar{
  height: 102px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .fa{
  position: relative;
  left: 10px;
  top: -3px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 24px;
  right: -50px;
  background-color: #f9f9f9;
  min-width: 131px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4px 16px;
  z-index: 1;
}.dropdown-content a{
    color: black;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media only screen and (min-width:  992px) and (max-width:1199){
  .container {
      max-width: 660px;
  }
  .navbar-content.d-flex.align-items-center.nav01 {
    width: 100% !important;
    align-items:flex-end;
    justify-content: end !important;
    /* margin-right: 15px !important; */
    /* margin-left: 15px !important; */
}

.navBarAllign{
  width: 65%;
}

}
@media only screen and (min-width:  768px) and (max-width:991){
  .container {
      max-width: 660px;
  }
  .navbar-content.d-flex.align-items-center.nav01 {
    width: 100% !important;
    align-items: center !important;
    justify-content: start !important;
    /* margin-right: 10px; */
    /* margin-left: 15px !important; */
}
}
@media only screen and (min-width: 567px) and (max-width: 767px){
  .container {
      max-width: 660px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 567px){
.container {
    max-width: 660px;
}


}

