.fluid_title h4{
    font-weight: 700;
}
.inputfield h5{
    font-weight: 600;
}
label.d-grid{
    position: relative;
    top: -5px;
    display: grid !important;
}.congra{
    font-weight: 800;
}
.score{
    font-weight: 600;
}
.congrat{
    color: #f2bd30;
}.btnpnk a {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 12px;
  color: white;
  background-color: #a30046;
}
.fs-15 {
    font-size: 13px;
  }
  .fs-12{
      font-size: 11px;
  }
.btnsil a{
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
  color: white;
  background-color: #547b8c;
}
.btnblk a{
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
  color: black;
  background-color: black;
}
.padd3{
    padding: 10rem 1rem;
}
textarea{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px 0px #ebebeb;
}
textarea::placeholder{
    color: black;
}
.iframeimg iframe{
    width: 100%;
    height: 100vh;
    border: none !important;
}
label {
    display: contents;
    margin-bottom: 0.5rem;
}
@-moz-document url-prefix() { 
  .topradio{
      margin-top: -3.2rem;
  }
  .checkmoderate{
    width: 13px !important;
    height: 13px !important;
}
.checkcorrect{
    width: 13px !important;
    height: 13px !important;
}
.fs-15 {
    font-size: 12px;
  }
  .fs-12{
      font-size: 11px;
  }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199.98px){
    .row-grid{
        display: block !important;
    }
    .col-lg-9{
        max-width: 100% !important;
    }
    .col-lg-3{
        max-width: 100% !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991.98px){
    .row-grid{
        display: block !important;
    }
    .col-lg-9{
        max-width: 100% !important;
    }
    .col-lg-3{
        max-width: 100% !important;
    } 
   ::ng-deep iframe.toolbar-section.ToolbarRow {
        height: calc(33vh - 160px) !important;
    }
}

/*  */
/* @media only screen and (max-width: 767.9px){
   ::ng-deep .view-inline {
    flex-direction: row !important;
    width: 100%;
}
::ng-deep .toolbar-section {
    flex-direction: column !important;
    overflow: auto;
    overflow-y: hidden;
    min-height: 110px;
    padding: 0;
}
} */
.checkcorrect {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    position: relative;
    top: 0px;
    left: 0px;
  
    background-color: transparent;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50px;
    outline: none;
  }
  .checkcorrect:checked{
      background-color: #9ac655;
  }
  .checkcorrect:checked + label span {
      color: #9ac655;
  }

  .checkmoderate{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    position: relative;
    top: 0px;
    left: 0px;
  
    background-color: transparent;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50px;
    outline: none;  
  }
  .checkmoderate:checked{
    background-color: #a40046;
}
.checkmoderate:checked + label span {
    color: #a40046;
}